*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background:radial-gradient(circle at left top, #7c797a,#222 70%); */
    background-color: #222;
    color: #fff;
    height: 100vh;
}

.root{
    height: 100%;
}
/* formulario */

.container_form{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.form{
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    height: 600px;
    box-shadow: 0px 2px 4px rgba(0,0,0,2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}


form h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  label {
    margin: 10px 0 5px;
    color: #fff;
    font-size: 20px;
}

.form input[type="text"],
.form input[type="number"],
.form select {
  width: 75%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
}

/* Efecto de enfoque en los campos de entrada */
.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form select:focus {
  border-color: #4CAF50;
  outline: none;
}

.form button{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    transition: .3s linear;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

.form button:hover{
    background-color: #2acf40;
    box-shadow: 0 0 5px #2acf40, 0 0 15px #2acf40, 0 0 20px #2acf40,0 0 30px #2acf40, 0 0 50px #2acf40;
    border: none;
}