*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* background:radial-gradient(circle at left top, #7c797a,#222 70%); */
    background-color: #222;
    color: #fff;
    height: 100vh;
}

.root{
    height: 100%;
    display: flex;
}